
.role-card{
    width: 200px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s;
}
.role-card:hover{
    cursor: pointer;
    background-color: #f0f0f0;
    transform: translateY(-3px);
}
.role-card p {
    font-size: 14px;
    color: #666;
}
.role-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}
